body{
    display: grid;
    grid-template-columns: 1fr;
    font-family: Arial;
}

body header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

body header{
    height: 10vh;
    width: 100vw;
    border-bottom: 2px solid black;
}

header ul li:first-child img {
    max-width: 100px;
    height: auto;
}

header ul li:nth-child(2){ 
    background-color: rgb(118, 91, 205);
    height: 2rem;
    width: 6rem;
    text-align: center;
    color: white;

}

header ul li:last-child{
    border-radius: 50%;
}

header ul li:last-child img {
    max-width: 50px;
    height: auto;
}

main{
    max-height: 80vh;
    width: 100vw;
}
#home{
    padding: 2rem;
}

#home h1{
    width: 100%;
    text-align: center;
}

 h2{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.mood ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}

.mood ul li{
    margin-top: 1rem;
    text-align: center;
    border: 0.1px solid black;
    padding: 1.5rem;
}

.snelleActies > ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.snelleActies > ul > li{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding: 1rem;
}

.snelleActies ul li div{
    background-color: gray;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.snelleActies ul li img{
    width: 1rem;
    height: auto;
    align-self: right;
}
footer{
    height: 10vh;
    border-top: 1px solid black;
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 10vh;
}
footer ul div:first-child{
    background-color: gray;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
footer ul li {
    display: flex;
    align-items: center;
    flex-direction:column;
}

.mood ul li:hover{
   background-color: gray;
}

.mood ul li:active{
   background-color: gray;
   cursor: grabbing;
}

.selecteerd{
    color: white;
    background-color: rgb(118, 91, 205);
}

#zoekPagina h1{
    width: 100%;
    text-align: center;
}
#zoekPagina {
    padding: 2rem;
}
#zoekBalk{
   display: grid;    
}